body {
  margin: 0;
  padding: 0;
  background-color: #edf9ee;
}

.btn {
  text-decoration: none;
  background-color: #12a212;
  padding: 7px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: inset -1px -1px 3px 1px rgba(0,0,0,0.2);
}
.btn:hover{
  background-color: #0b6c0b;
}

form {
  color: #0b6c0b;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.3);
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label{
  text-transform: capitalize;
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.form-input{
  height: 2rem;
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  padding: 0 5px 0;
  font-size: 0.9rem;
  color: #444444;
  background-color: #f4f4f485;
}